---
import FichaProfesional from '../components/FichaProfesional.astro';
import '../styles/ficha-profesional.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Ficha Profesional</title>
  </head>
  <body>
    <FichaProfesional />
    <script type="module" src="../scripts/ficha-profesional.js"></script>
  </body>
</html>