---
import ListadoProfesionales from '../components/ListadoProfesionales.astro';
import '../styles/listado-profesionales.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Listado de Profesionales</title>
  </head>
  <body>
    <ListadoProfesionales />
    <script type="module" src="../scripts/listado-profesionales.js"></script>
  </body>
</html>