---
import LoginForm from '../components/LoginForm.astro';
import '../styles/login.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Acceso VitalHome</title>
  </head>
  <body>
    <LoginForm />
    <script type="module" src="../scripts/login.js"></script>
	
  </body>
</html>
