---
import PacienteForm from '../components/PacienteForm.astro';
import '../styles/paciente.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Datos Paciente</title>
  </head>
  <body>
    <PacienteForm />
    <script type="module" src="../scripts/paciente.js"></script>
  </body>
</html>