---
import ProfesionalForm from '../components/ProfesionalForm.astro';
import '../styles/profesional.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Antecedentes Profesionales</title>
  </head>
  <body>
    <ProfesionalForm />
    <script type="module" src="../scripts/profesional.js"></script>
  </body>
</html>