<form id="formReserva" class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Profesional</label>
    <input type="text" class="form-control" id="profesional_nombre" required />
  </div>
  <div class="col-md-6">
    <label class="form-label">RUT Profesional</label>
    <input type="text" class="form-control" id="profesional_rut" required />
  </div>
  <div class="col-md-6">
    <label class="form-label">Paciente</label>
    <input type="text" class="form-control" id="paciente_nombre" required />
  </div>
  <div class="col-md-6">
    <label class="form-label">RUT Paciente</label>
    <input type="text" class="form-control" id="paciente_rut" required />
  </div>
  <div class="col-md-6">
    <label class="form-label">Fecha</label>
    <input type="date" class="form-control" id="fecha" required />
  </div>
  <div class="col-md-6">
    <label class="form-label">Hora</label>
    <input type="time" class="form-control" id="hora" step="2700" required />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary w-100">Guardar Reserva</button>
  </div>
</form>