<div class="mb-3">
  <label class="form-label">Ver agenda por profesional y fecha</label>
  <div class="row g-2">
    <div class="col-md-6">
      <input type="text" class="form-control" id="buscar_rut" placeholder="RUT Profesional" />
    </div>
    <div class="col-md-6">
      <input type="date" class="form-control" id="buscar_fecha" />
    </div>
  </div>
  <button class="btn btn-outline-secondary mt-2 w-100" id="consultarBtn">Consultar</button>
</div>