<header>
    <a href="/">
        <img
            class="animate-fade-in-up max-w-xl mx-auto hover:opacity-80 transition-opacity"
            src="/cropped-vitalHome_logo-1.png"
            alt="vitalhome logo"
        />
    </a>
</header>